@{
    ViewData["Title"] = "User Home";
}
@model List<TicketReservation.App.Models.DestinationViewModel>
@if (TempData["SuccessMessage"] != null)
{
    <div id="successAlert" class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorAlert" class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<style>

    .btn-info {
        color: grey;
        background-color: #4dabbf;
        border-color: #252a2b;
        place-items: center;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        text-align: center;
        border: 1px solid transparent;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .form-control-lg {
        min-height: calc(1.5em + 1rem + 2px);
        padding:  1rem;
        font-size: 1.25rem;
        border-radius: .3rem;
        width: 400px;
    }

    .fade-out {
        opacity: 1;
        transition: opacity 2s ease-out; 
    }

    .hidden {
        display: none;
    }
</style>

<div class="container">
    <div class="card mask-custom p-3 mb-4">
        <div class="card-body">
            <p class="h1 font-weight-bold mb-4 text-Black">Search Your Destination</p>
           <form asp-controller="Customer" asp-action="SeeSchedules" method="get">
             <div class="row justify-content-center">

                <div class="col-md-6 mb-3 mb-md-0">
                    <div class="form-group form-outline form-white">
                        <input type="text" list="destinations" id="startingPointSearch" class="form-control" placeholder="Search starting point.." oninput="updateSelectedStartingPointId()">
                        <datalist id="destinationst">
                            @foreach (var destination in Model)
                            {
                                <option value="@destination.Destination_name" data-id="@destination.Id"></option>
                            }
                        </datalist>
                        <input type="hidden" id="SelectedStartingPointId" name="SelectedStartingPointId" />
                        <label class="startingPoint" for="startingPoint">Where are you now?</label>
                    </div>
                </div>

                <div class="col-md-6 mb-3 mb-md-0">
                    <div class="form-group form-outline form-white">
                        <input type="text" list="destinations" id="EndPointSearch" class="form-control" placeholder="Search end point.." oninput="updateSelectedEndPointId()">
                        <datalist id="destinations">
                            @foreach (var destination in Model)
                            {
                                <option value="@destination.Destination_name" data-id="@destination.Id"></option>
                            }
                        </datalist>
                        <input type="hidden" id="SelectedEndPointId" name="SelectedEndPointId" />
                        <label class="endingPoint" for="endingPoint">Where do you want to go?</label>
                       
                    </div>
                </div>
                <div class="btn">
                    <button type="submit" class="btn btn-info btn-lg">Check For Schedule</button>
                </div>
                
            </div>
                
            </form>
        </div>
    </div>
</div>


<script>


    function updateSelectedStartingPointId() {
        var input = document.getElementById("startingPointSearch");
        var selectedIdInput = document.getElementById("SelectedStartingPointId");
        var datalist = document.getElementById("destinations");

        var selectedOption = getSelectedOption(input, datalist);
        if (selectedOption) {
            selectedIdInput.value = selectedOption.getAttribute("data-id");
        } else {
            selectedIdInput.value = "";
        }
    }

    function updateSelectedEndPointId() {
        var input = document.getElementById("EndPointSearch");
        var selectedIdInput = document.getElementById("SelectedEndPointId");
        var datalist = document.getElementById("destinations");

        var selectedOption = getSelectedOption(input, datalist);
        if (selectedOption) {
            selectedIdInput.value = selectedOption.getAttribute("data-id");
        } else {
            selectedIdInput.value = "";
        }
    }

    function getSelectedOption(input, datalist) {
        var inputValue = input.value;
        var options = datalist.querySelectorAll("option");

        for (var i = 0; i < options.length; i++) {
            if (options[i].value === inputValue) {
                return options[i];
            }
        }

        return null;
    }
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            var successAlert = document.getElementById('successAlert');
            var errorAlert = document.getElementById('errorAlert');

            if (successAlert) {
                successAlert.classList.add('hidden');
            }

            if (errorAlert) {
                errorAlert.classList.add('hidden');
            }
        }, 5000);
    });

</script>

  